@import url(tacks/sideberryMods.css);
@import url(tacks/menuShow.css);

/* Apply your custom modifications after imports */
#TabsToolbar, #sidebar-header, #sidebar-splitter {
  display: none;
}

/* Bookmark Panel Tweaks */
 #sidebar-box,
 #sidebar,
 .sidebar-placesTree {
/*      font-family: Fira Sans !important;   */
     color: #14141D !important;
     background-color: rgba(20,20,29) !important;
 }

#search-box {
  color:rgb(20,20,29;
}

/* Remove Folders from Bookmark Sidebar*/
.sidebar-placesTreechildren::-moz-tree-image(title, container){ 
list-style-image: none !important;
display: none !important;
padding-right: 0px !important;
margin: 0px 0px !important;
width: 0px !important; 
}




.titlebar-buttonbox{ -moz-box-align: stretch !important; }
.titlebar-button {
  -moz-appearance: none !important;
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: currentColor;
  padding: 4px 6px !important;
  -moz-box-flex: 1;
  overflow: -moz-hidden-unscrollable;
}
.titlebar-button:hover{ background-color: rgba(0,0,0,0.1) }
.titlebar-min{ list-style-image: url(chrome://browser/skin/zoom-out.svg); }
.titlebar-close{
  list-style-image: url(chrome://global/skin/icons/close.svg);
  fill-opacity: 0;
  stroke: currentColor
}

